.simplebar-scrollbar::before {
  background-color: lightslategrey !important; /* Change to your desired color */
  width: 4px;
}

.simplebar-track.simplebar-vertical {
  /* background-color: red; */
  width: 8px !important;
}
