:root {
  --primary-bg-color: rgb(85, 110, 230);
  --primary-btn-bolor: #2672b9;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* td,
tfoot {
  padding: 6px 16px !important;
} */

.btn-primary {
  color: #fff;
  background-color: var(--primary-btn-bolor);
  border-color: var(--primary-btn-bolor);
}

.bg-primary.bg-soft {
  overflow: hidden;
  background: var(--primary-bg-color) !important;
}
